/* shared styles */

.navbar, .banner, .main{
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.text-title-dark{
    color: rgba(0, 0, 0, 1);
    font-size: 50px;
    font-weight: bold;
}
.text-title-orange{
    color: rgba(233, 90, 8, 1);
    font-size: 65px;
    font-weight: bold;
}
.text-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}
.button{
     background-color: rgba(233, 90, 8, 1);
    color: white;
    padding: 20px 80px;
    font-size: 1rem;
    font-weight: 600px;
    border: none;
}

/* header styles */

/* navbar related styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.text-dark{
    color: rgba(37, 36, 50, 1);
}
.text-light{
    color: rgba(137, 135, 161, 1);
}

/*banner styles*/

.banner{
    margin: 100px auto auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

/*main styles*/

.plants{
    align-items: center;
    text-align: center;
}
.plant-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
}
.plant-image{
    width: 100%;
}
.flower-plant-lover{
    margin: 210px 100px auto;
    gap: 60px;
}
#badge{
    max-width: 286px;
}
.deals{
    text-align: center;
    max-width: 1440px;
    margin: 130px 150px auto;
}

/* responsive media query */

@media screen and (max-width: 576px) {
    .navbar,
    .nav-link,
    .banner{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .plant-img-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .plant-image{
        width: 100%;
    }
}   

.hidden{
    display: none;
}
